@import '../../../../scss/variables';

.button-wrapper {
    align-items: center;
    display:flex;
    justify-content: center;
    padding-top: 2rem;
}

.comment-wrapper{
    margin: 0 auto;
    button {
        cursor: pointer;
        font-size: 1.5rem;
    }
}


.commentTable {
    background-color: $secondary-color;
    border-collapse: collapse;
    border: $border-width solid $primary-color;
    th{
        padding: $base-padding * 1;
    }
    td{
        padding: $base-padding * 1.25;
    }
    th,td{
        border: $border-width solid $primary-color;
    }
}