@import '../../../scss/variables';
@import '../../../scss/mixins';
.nav {
    background-color: $side-bar-bg;
    display:flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
    top: 0;
    left: 0;
    padding: 5rem 1.5rem 2rem 1.5rem; 
    position: absolute; 
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    z-index: 2;
    &__link{
        cursor: pointer;
        text-align: center;
        color: $complementary-font-color;
        font-weight: 300;
    }
    &__icons{
        color: $complementary-font-color;
        cursor: pointer;
        font-size: 1.5rem;
        padding: 0.5rem;
        text-align: center;
    }
    &--hide{
        padding: 5rem 0.5rem;
        min-width: 0.5rem;
    }
}