@import '../../../scss/global-imports.scss';



.table-wrapper,.header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2.5rem;
}
.table-wrapper{
    padding-bottom: 2rem;
}

.table {
    background-color: $tertiary-color;
    border: 2px solid $primary-color;
    border-collapse: separate;
    border-radius: $border-radius;
    border-spacing: 0 1rem;  
    table-layout:fixed;
    width: 100%;
    &__row{
        border-radius: $border-radius;
        background-color: $secondary-color;

        color: $primary-color;
        text-align: center;
        td{
            border: 1px solid $primary-color;
            padding: 1rem;
            text-overflow: ellipsis;
            overflow: hidden; 
            white-space: nowrap;
        }
        td:first-child { 
            border-top-left-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
         }
        td:last-child { 
            border-top-right-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
        }
    }
    &__drag-cell{
        cursor: grab;
        width: 5%;
    }


}
