.container {
    width: 100%;
    max-width: 1200px;
    margin:0 auto;
    box-sizing: border-box;
    @include xs{
        padding:0 0.75rem;
    }
    @include sm{
        padding:0 1.25rem;
    }
    @include md{
        padding:0 2.5rem;
    }
    @include xl{
        padding: 0 4rem;
    }
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.header {
    padding-top: 1.5rem;
}

.title {
    border: 0.15rem solid $primary-color;
    border-radius: $border-radius;
    background-color: $tertiary-color;
    padding: 1rem;
    text-align: center;
    min-width: 50%;
    margin-bottom: -1.2rem;
    z-index: 2;
}